<div class="music-player-container">
    <div class="music-player"><!--Music Player--><br>
        <!-- Symbols used here and other special symbols were obtained from http://www.w3schools.com/charsets/ref_utf_symbols.asp -->
        <button class="play"> &#9658; </button>
        <button class="pause"> &#10074;&#10074; </button>
        <button class="stop"> <!--&#9689--> &#9632; </button>  
        <div class="playing_user_container" title="Hint: The music player only remembers your most recently played number, so changing the key or tempo will not change the song!">
            <div class="player_text playing"></div>
            <div class="player_text user"></div>
        </div>
    </div>
</div>