<!DOCTYPE html>
<html>
    <head>
        <title> About NumeraMusa </title>
        {{> links_partial}}
    </head>
    <body>
        <div class="top-body-container">
            {{> logo_partial}}
            <div class="music-player-container">
                <div class="music-player"><!--Music Player--><br>
                    <!-- Symbols used here and other special symbols were obtained from http://www.w3schools.com/charsets/ref_utf_symbols.asp -->
                    <button class="play"> &#9658; </button>
                    <button class="pause"> &#10074;&#10074; </button>
                    <button class="stop"> <!--&#9689--> &#9632; </button>  
                    <div class="playing_user_container">
                        <div class="player_text playing"></div>
                        <div class="player_text user"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-body-container">
            <div class="nav-profile-full">
            </div>
            <div class="main-view">
                <div>
                    <div class='intro'>
                        NumeraMusa was created by two MIT students <br>
                        <a href="https://www.linkedin.com/in/huydpham" title="Huy's favorite number is i!"> Huy Pham </a> and
                        <a href="https://www.linkedin.com/in/shinjini-saha-782b23b1" title="Shinjini's favorite number is e!"> Shinjini Saha </a>
                        <br>
                        for MIT's Web Programming Competition. <br> <br>
                        The idea behind NumeraMusa was inspired by the music of &#960, <br>
                        and we wanted to enable others to create their own beautiful pieces <br>
                        from numbers special to them. <br><br>
                        
                        The name NumeraMusa was coined from the roots <br> of the words number (numerus) and music (mousa).
                        
                        <br><br>
                        
                        If you would like to contact us, we can be reached at <br>
                        <a href="mailto:numeramusa@mit.edu">numeramusa@mit.edu</a>.
                        
                        
                    </div>
                </div>
            </div>
            <div class="nav-music">
            </div>
        </div>
    </body>
</html>