<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        {{> links_partial}}
    </head>
    <body>
        <!---->
        {{> top_body_partial}}
        <div class="main-body-container">
            <div class="nav-profile">Profile Navigator
                {{username}}
            </div>
            <div class="main-view">
                <div class="viewer">
                    Main View Window
                </div>  
            </div>
            <div class="nav-music">Music Navigator
                <div class="user_recent">
                    My recent music
                    {{{mine}}}
                <div>                 
                <div class="recent">
                    Recent music links
                    {{{recents}}}
                </div>    
            </div>
        </div>
    </body>
</html>