.numbers{
    display: block;
    position: relative;
    top: 10%;
    left: 10%;
    background: blue;
    height: 60%;
    width: 80%;
}

.entered-number{
    font-size: 2em;
    color: whitesmoke;
    word-wrap: break-word; 
}

.viewer{
    height: 60%;
    width: 100%;
    background-color: rebeccapurple;
}

.enter-number{
    height: 40%;
    width: 100%;
    background-color: dimgrey;
    text-align: center;
}
