.numbers{
    display: block;
    position: relative;
    top: 20%;
    left: 20%;
    background: blue;
    height: 60%;
    width: 60%;
}

.entered-number{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5em;
    color: whitesmoke;
}

.viewer{
    height: 60%;
    width: 100%;
    background-color: rebeccapurple;
}

.enter-number{
    height: 40%;
    width: 100%;
    background-color: dimgrey;
    text-align: center;
}
