.music-player{
    text-align: center;  
}

.music-player button{
    background-color: black;
    display: inline-block;
    color: white;
    border: 0px;
    height: 40px;
    width: 40px;
    font-size: 1em;
}

