.profile-main{
    background-color: #457D7B;
    border-radius: 25px;
    color: #ecf0f1;
    display: block;
    position: relative;
    padding: 3%;
    height: 60%;
    width: 80%;
    margin: 7% auto 7% auto;
    text-align: center;
}


.fav-stuff-container{
    overflow: auto;
    margin: auto;
    height: 70%;
    width: 80%;
}

.profile-viewer{
    width: 100%;
    height: 100%;
}

.profile.recent{
    width: 100%;
    height: 100%;
    margin: 0;
}

.profile-main table{
    width: 100%;
    max-height: 80%;

}

.profile-main.users{
    text-align: center;
    width: 40%;
}

.profile-main-buttons{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 100%;
    margin-right: -30%;
}

.profile-main-buttons button{
    width: 15%;
}

.username-area{
    width: 60%;
    padding: 5%;
    text-align: center;
    font-size: large;
    margin: auto;
    height: 20%;
    background-color: #457D7B;
    word-wrap: break-word;
    
}