.nav-profile{
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
    color: #ecf0f1;    
}
ul{
	list-style-type: none;
}

.username{
    width: 90%;    
    border: solid 1px #457D7B;
    padding: 5px;
}

.password{
    width: 90%;    
    border:  solid 1px #457D7B;
    padding: 5px;
}

.nav-profile button{
    width: 70%;
    color: #ecf0f1;
    border: solid 1px #457D7B;
    padding: 5px;
    margin: auto;
    background-color: slategray;
}

