.recent{
    width: 100%;
    height: 90%;
    margin-top: 10%;
    
}

.profile-recent{
    height: 40%;
}


.recents-label{
    height: 5%;
    width: 100%;
    padding: 5%;
    color: #5D9B9B;
    background-color: #294545;
    text-align: center;
}

.recent-list{
    padding: 5%;
    word-wrap: break-word;
    overflow: auto;
    color: #5D9B9B;
    background-color: #2f4f4f; 
    height: 85%;
    width: 100%;
}

a{
    color: #6D9AC7;
    text-decoration: none;
}

.recent a{
    color: #85DFDF;
}

.logo a{
    color: #45617D;
}

.logo a:hover{
    color: #5F86AD;
}


a:hover{
    color: #ecf0f1;
}

.play_recent{
    color: #85DFDF;
    
}

.play_recent:hover{
     color: #ecf0f1;
}