body {
	background-color: #aaaaaa;
	font-family: sans-serif;
}
.music-player-container{
    padding: 1vw;
    background-color: midnightblue;
    height: 10vh;
}
.logo{
    margin: 1vw;
    background-color: deepskyblue;
    display: inline-block;
    width: 15vw;
}
.music-player {
	margin: 1vw;
    background-color: blue;
    display: inline-block;
    width: 75vw;
    float: right;
}
.main-body-container{
    padding: 1vw;
    background-color: mediumvioletred;
    height: 80vh;
}
.nav-profile {
	margin: 1vw;
    background-color: red;
    display: inline-block;
    float: left;
    width: 15vw;
    height: 75vh;

}
.main-view {
	margin: 1vw;
    background-color: purple;
    display: inline-block;
    width: 58vw;
    height: 75vh;

}
.nav-music {
	margin: 1vw;
    background-color: orange;
    display: inline-block;
    float: right;
    width: 15vw;
    height: 75vh;

}