<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='../stylesheets/layout-style.css' />
        <link rel='stylesheet' href='../stylesheets/profile-nav-style.css' />
        <link rel='stylesheet' href='../stylesheets/main-view-style.css' />
    </head>
    <body>
        <div class="top-body-container">
            <div class="logo-container">
                <div>Logo</div>
            </div>
            <div class="music-player-container">
                <div class="music-player">Music Player</div>
            </div>
        </div>
        <div class="main-body-container">
            <div class="nav-profile">Profile Navigator
                <div class="sign-in">
                    <input type="text" class="username" placeholder="username"> <br>
                    <input type="text" class="password" placeholder="password"> <br>
                    <button class="sign-in-button">Sign In</button>
                </div>
                <div class="sign-up">
                    <button class="sign-up-button">Sign Up</button>
                </div>
            </div>
            <div class="main-view">
                <div class="viewer">
                    Main View Window
                    
                    NUMBERS!
                </div>  
                <div class="enter-number">
                    <input type="text" class="enter-number-text" placeholder="Enter a number">
                    <button class="enter-number-button">Enter</button>
                </div>  
            </div>
            <div class="nav-music">Music Navigator</div>
        </div>
    </body>
</html>